html {
    background-color: #e1edf9   ;
}

.main-section {
    background-color: white;
    width: 328px;
    height: 480px;
    border-radius: 2%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-section img {
    display: block;
    width: 308px;
    height: 280px;
    margin: 10px auto 0 auto;
    border-radius:3%;
}

.main-section h3 {
    text-align: center; 
    font-family: 'Outfit', serif;
    margin-left: 20px;
    margin-right: 20px;
    color: #06246d;
}

.main-section p {
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', serif;
    margin-left: 35px;
    margin-right: 35px;
}